[project]
	description = Simple android development tool that send log to UDP port.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jan Madzik (Chemik)
[access "refs/for/refs/*"]
	read = group user/Jan Madzik (Chemik)
	push = group user/Jan Madzik (Chemik)
	label-Code-Review = -2..+2 group user/Jan Madzik (Chemik)
	label-Verified = -1..+1 group user/Jan Madzik (Chemik)
	rebase = group user/Jan Madzik (Chemik)
	removeReviewer = group user/Jan Madzik (Chemik)
	submit = group user/Jan Madzik (Chemik)
[access "refs/heads/*"]
	read = group user/Jan Madzik (Chemik)
	create = group user/Jan Madzik (Chemik)
	push = +force group user/Jan Madzik (Chemik)
	pushMerge = group user/Jan Madzik (Chemik)
[access "refs/tags/*"]
	push = group user/Jan Madzik (Chemik)
	push = +force group user/Jan Madzik (Chemik)
